 <!DOCTYPE html>
	<html ng-app="myApp">
    <head>
        <%include templates/headImports.ejs%>
    </head>
	<title>
	</title>
    <body ng-controller="controller">
        <%include templates/jqueryImports.ejs%>
	  <script>
        <%include templates/sideNav.ejs%>
	  </script>
	    <header><%include templates/header.ejs%></header>
	    <main>
            <div ng-repeat="cur in news">
                {{ cur.campusNews.testing }}
            </div>
        </main>
	    <% include templates/angular.ejs %>
    </body>
    <%include templates/footer.ejs%>
  </html>
