 <!DOCTYPE html>
	<html ng-app="myApp">
    <head>
        <%include templates/headImports.ejs%>
    </head>
	<title>
	</title>
    <body>
        <%include templates/jqueryImports.ejs%>
	  <script>
        <%include templates/sideNav.ejs%>
	  </script>
	    <header><%include templates/header.ejs%></header>
	    <main>
        </main>
	    <% include templates/angular.ejs %>
    </body>
    <%include templates/footer.ejs%>
  </html>
