		<footer class="page-footer blue lighten-2" ng-controller="controller">
			<div class="container">
				<div class="row">
					<div class="col l5 s12">
						<h5 class="white-text">Like what you see?</h5>
                        <p class="grey-text	text-lighten-4">
						</p>
                    </div>
                    <div class="col l3 s12">
						<h5 class="white-text">Resources for learning</h5>
						<ul>
						</ul>
	                </div>
                    <div class="col l4 s12">
				        <h5 class="white-text">Follow me here:</h5>
			        </div>
	            </div>
	        </div>
		    <div class="footer-copyright">
		        <div class="container">
			        &copy; 2016 . All Rights Reserved.
                    <p class="text-white right"><a href="/edit">Admin</a></p>
	            </div>
	        </div>
	    </footer>
